/* .course-details-area .sidebar .item .content a.btn {
    background: #FF1949 none repeat scroll 0 0 !important;
    border: 2px solid #FF1949 !important;
} */

.course-area .info .top-info {
    margin-bottom: 0px;
}